/*Universal Selectors*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.h1-container {
  padding: 4px;
  font-family: 'Pacifico', cursive;
}

.row {
  width: 500px;
}

.custom-font {
  font-size: larger;
  font-weight: 300;
}

.custom-font-2 {
  font-size: 70px;
  font-weight: 300;
}

.search-form{
  margin: 0px;
  padding: 0px;
  position: fixed;
}

/*Current weather and forecast selectors*/

.wi {
  margin-left: 20px;
  margin-bottom: 20px;
}

.current-weather-info {
  position: fixed;
  top: 70px;
  left: 550px;
  font-size: 15px;
  font-weight: 300;
}

.forecast-list {
  font-size: 13px;
  position: relative;
  left: -500px;
  top: -20px;
  list-style: none;
  padding: 50px;
  width:500px; 
  margin-right: 10px;
  text-align: center;
}

.forecast{
position: relative;
left: 20px;
}

.date{
  font-size: 20px;
  font-weight: bold;
}

.weather-icon {
  position: relative;
  font-size: 100px;
  margin-top: 10px;
  left: -10px;
}

/*--- Media Queries---*/

@media (max-width: 767px) {
  #city-name {
    display:block;
    text-align: center;
    font-size: 70px;
  }

  .search-label{
    text-align: center;
  }

  .current-weather{
      position: inherit;
  }

  #forecast-list {
      flex-wrap: wrap;
    }

  .history{
    text-align: center;
  }

  .btn{
    margin-left: 40px;
    width:400px;
  }

    .list-group{
      text-align: center;
      position: inherit;
    }
}
