.pageTitle{
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  position: relative;
  font-family: 'Pacifico', cursive;
  font-size: 60px;
}

.MountainLogo{
  width: 80px;
  margin: 20px;
  position: relative;
  display: flex;
  flex-grow: unset;
  filter: invert();
}

/*Search Form*/
.searchText{
  position:relative;
  text-align: center;
  align-items: center;
}

/*Current weather and forecast selectors*/
.card{
  font-weight: 300;
}

.forecast-list {
  font-size: 8px;
  list-style: none;
  width:290px; 
  margin-left: 145px;
  margin-top: 20px;
  text-align: center;
}

.wi {
  position: relative;
  top: 20px;
  font-size: 60px; 
  padding-bottom: 30px;
  padding-top: 10px;
}

.date{
  font-size: 15px;
  position: relative;
  top: 20px;
}

.current-weather-info{
  font-size: 10px;
  height: 100px;
}

#current-weather-info{
  font-size: 10px;
  height: 100px;
}

.list-group-item{
  z-index: 1;
}

/*--- Media Queries---*/
@media (max-width: 768px) {
  .pageTitle {
    font-size: 25px; /* Adjust the font size as needed for smaller screens */
  }

  .MountainLogo {
    width: 30px;
  }

  .forecast-list ul {
    position: relative;
    left: -15px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .forecast-list li {
    font-size: 10px;
    width:100px; 
    margin-left: -180px;
    padding: 0px;
    margin-bottom: 100px;
  }
}

